ul.recipe-list {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	gap: 1rem;
}
@media (width <= 800px) {
	ul.recipe-list {
		grid-template-columns: 1fr 1fr;
	}
}
