*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  main {
    flex: 1;
    min-height: 70vh;
    display: flex;
    nav {
      width: 10%;
      min-width: 8rem;
    }
    #main {
      width: 90%;
      border: 1px solid red;
      padding: 2rem;
    }
  }

}
